<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photos</title>
</head>
<body>

<h1>Welcome to photos app</h1>
<h2>List of photos are here : </h2>
<ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Debitis earum recusandae repellendus vitae!</li>
    <li>Est officiis perferendis rerum voluptatem!</li>
    <li>Autem error non quisquam repellat!</li>
    <li>Alias assumenda esse optio tempora.</li>
</ul>
</body>
</html>